* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cap {
    background-color: #222;
    padding: 19px 0;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
}

.cap-navi {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.cap-logo-link,
.cap-menu-link {
    text-decoration: none;
    color: transparent;
}

.cap-logo-but,
.cap-menu-but {
    background-color: transparent;
    border: none;
}

.cap-logo:not(:last-child) {
    margin-right: 41px;
}

.menu {
    display: flex;
    align-items: center;
}

.cap-menu-item:not(:last-child) {
    margin-right: 33px;
}

.slogan {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.slogan-position {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: url(../img/bg-header.png) no-repeat -228px;
    padding-top: 290px;
}

.slogan-text {
    max-width: 405px;
    border-left: #F16D7F solid 12px;
    padding-left: 16px;
    margin-bottom: 381px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 38px;
    font-size: 37px;
    color: #222;
}

/* Не получается отредактировать шрифт нужным образом */
.slogan-decor {
    font-weight: 700;
    line-height: 32px;
    font-size: 30px;
}

.slogan-empasis {
    color: #F16D7F;
}

.category {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 96px;
}

.category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

/* Искал решение проблемы "контейнер больше контента в  нем содержащегося",
если не задавать высоту, то лишние 4px можно убрать, убрав line-height, сомневаюсь,
что данное решение верное, пока по-другому не знаю как, буду искать. Ширину последнего
контейнера так подогнать не удалось, только через класс */

.category-item:not(:last-child) {
    max-width: 360px;
    background-color: #594e4b;
    padding: 102px 103px;
}

.category-item {
    width: 100%;
    background-color: #594e4b;
    padding: 65px 490px;
    position: relative;
}

/* Решил попробовать сделать затемнение через псевдоэлемент,
не знаю насколько это верное решение. Вообще блок category
вызывает массу сомнений. В частности: изображения по логике
должны быть фоном, но тогда 4 "странных" класса надо создавать.
Или вносить их через тег img, что проще, но вроде как нелогично
Как все-таки правильно? */

.category-item::after {
    content: '';
    background-color: rgba(33, 22, 22, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.for-women {
    background: url(../img/card-women.png) no-repeat;
}

.for-man {
    background: url(../img/card-man.png) no-repeat;
}

.for-kids {
    background: url(../img/card-kids.png) no-repeat;
}

.accesories {
    background: url(../img/card-accesories.png) no-repeat;
}

.category-emphasis {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    z-index: 1;
}

.category-name {
    color: #F16D7F;
    font-size: 23px;
    font-weight: 700;
    z-index: 1;
}

.products {
    text-align: center;
}

.products-name {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-bottom: 6px;
}

.products-text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
}

.card {
    max-width: 360px;
    background-color: #F8F8F8;
}

.description {
    padding: 25px 28px 20px 16px;
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start; */
    text-align: start;
    font-family: 'Lato', sans-serif;
}

.card-name {
    font-size: 13px;
    margin-bottom: 12px;
}

.card-text {
    font-size: 14px;
    font-weight: 300;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.price {
    font-size: 16px;
    font-weight: 400;
    color: #F16D7F;
}

.product-button {
    display: inline-block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 15px 39px 14px;
    margin-bottom: 95px;
}

.features {
    background-color: #222224;
}

.features-cards {
    display: flex;
    gap: 30px;
    padding: 103px 0px 104px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    padding: 0 32px;
}

.feature-img {
    margin-bottom: 28px;
}

.feature-name {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #FBFBFB;
    margin-bottom: 16px;
}

.feature-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: #FBFBFB;
}

.frame {
    background: url(/img/bg-subscribe.png) no-repeat;
    background-size: 100%;
    padding: 97px 0 126px;
    position: relative;
}

.frame::after {
    content: '';
    background-color: rgba(244, 244, 244, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.subscribe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    position: relative;
    z-index: 1;
}

.subscribe-info-img {
    margin-bottom: 30px;
}

.subscribe-info-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #222224;
}

.subscribe-info-text-decor {
    font-style: italic;
}

.subscribe {
    font-family: 'Lato', sans-serif;
    text-align: center;
    position: relative;
    z-index: 1;
}

.frame-form-name {
    font-weight: 700;
    font-size: 24px;
    color: #222224;
    margin-bottom: 17px;
}

.frame-form-text {
    font-weight: 400;
    font-size: 18px;
    color: #222224;
    margin-bottom: 32px;
}

.subscribe-email {
    background-color: #E1E1E1;
    padding: 20px 70px 19px 23px;
    border-radius: 25px 0 0 25px;
    border: 0px;

}

.subscribe-email:placeholder {
    font-size: 14px;
    align-items: center;
    color: #222224;
    opacity: 0.67;
}

.frame-form-button {
    font-size: 14px;
    padding: 19px 20px 19px 21px;
    border: 0px;
    border-radius: 0 25px 25px 0;
    background-color: #F16D7F;
    color: #FFFFFF;

}

.frame-form-button::placeholder {
    font-size: 14px;
    color: #FFFFFF;
}