* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cap {
    background-color: #222;
    padding: 19px 0;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
}

.cap-navi {
    display: flex;
    justify-content: space-between;
}

.cap-menu-item:not(:last-child) {
    margin-right: 33px;
}

.cap-logo-item:not(:last-child) {
    margin-right: 41px;
}

.slogan {
    background-color: #F1E4E6;
}

.slogan-position {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: url(../img/Header-background.png) no-repeat -228px;
    padding-top: 290px;
}

.slogan-text {
    max-width: 405px;
    border-left: #F16D7F solid 12px;
    padding-left: 16px;
    margin-bottom: 381px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 38px;
    font-size: 37px;
}

/* Не получается отредактировать шрифт нужным образом */
.slogan-decor {
    font-weight: 700;
    line-height: 32px;
    font-size: 32px;
}

.slogan-empasis {
    color: #F16D7F;
}

.category {
    display: flex;
}